$form-shadow: 0px 4px 63px 0px #00000026;
$Poppins: 'Poppins', sans-serif;
$Inter : 'Inter', sans-serif;
$greys: #737373;
$input-borders: #DDDDDD;
$backgrounds: #F9F9F9;
$red : #F4511E;
$black : #18191f;
$blue : #252B42;

.form-bg{
    display: flex;
    flex-direction: column;
    padding:  2rem;
    gap: 2rem;
   

    .title{
        color:$black ;
        font-size: 1.5rem;
        font-weight: 500;
        text-align: center;
    }
    
    .form{
        display: flex;
        flex-direction: column;
        box-shadow: $form-shadow;
        border-radius: 8px;

        .form-title{
            color: $red;
            font-size: 1.5rem;
            font-weight: 700;
            text-align: center;
            margin: 1.5rem ;

        }

        form{
            display: flex;
            flex-direction: column;
            padding: 1rem;
            gap: 1rem;

            .form-control{
                display: flex;
                flex-direction: column;
                gap: .25rem;
                label{
                    font-size: 17px;
                    font-weight: 600;
                    font-family: $Poppins;
                    text-transform: capitalize;
                    
                    .required{
                        color: $red;
                        font-size: 8px;
                        padding: 0 0 6px 4px;
                    }
                }
                input[type ='text']{
                    border: 1px solid $input-borders;
                    background-color: $backgrounds;
                    padding: 1rem 0 1rem 1rem;
                    border-radius: 5px;

                    &::placeholder{
                        font-family: $Inter;
                        font-size: 14px;
                        font-weight: 400;
                        text-transform: capitalize;
                    }
                }
                select{
                    border: 1px solid $input-borders;
                    background-color: $backgrounds;
                    padding: 1rem 1rem 1rem 1rem;
                    border-radius: 5px;
                    color: $greys;
                    font-family: $Poppins;
                }
                textarea{
                    border: 1px solid $input-borders;
                    background-color: $backgrounds;
                    padding: 1rem 0 1rem 1rem;
                    border-radius: 5px;
                    font-family: $Inter;
                    resize: none;
                    display: flex;
                }

                .upload{
                    border: 2px dashed $red;
                    border-radius: 10px;
                    padding: 1rem;
                    font-family: $Poppins;
                    text-align: center;

                    p{
                        font-weight: 500;
                        span{
                            color: $red;
                            font-style: bold;
                            font-weight: 600;
                        }
                        &:last-of-type{
                            color: $greys;
                        }
                    }
                }
            }
        }
        .btn{
            margin: 1.5rem 0 2rem 0;
            text-align: center;
            align-self: center;
            justify-self: center;
            button{
                background-color:$red;
                font-family:$Inter;
                font-size: 16px;
                padding: 1rem 2rem;
                border: none;
                color: #fff;
                border-radius: 8px;
                cursor: pointer;
                transition: 0.2s;

                &:hover{
                    color: $red;
                    border: 1px solid $red;
                    background-color: #fff;
                }
                
            }
        }
    }
}

@media screen and (min-width:800px) {
    .form-bg{
        padding: 2rem 8.75rem;
        .form{
            flex-wrap: wrap;
            form{
                padding: 0 2.5rem;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                .form-control{
                    &:nth-of-type(8){
                        display: grid;
                        grid-area: 5 / 1 / span 1 / span 2;
                        textarea{
                            height: 6rem;
                        }
                    }
                    &:last-of-type{
                        display: grid;
                        grid-area: 6 / 1 / span 1 / span 2; 
                        div{
                            text-align: center;
                            justify-content: center;
                            height: 6rem;
                        }                       
                    }
                }
            }
        }
    }
}

@media screen and (min-width:1100px) {
    .form-bg{
        padding: 2rem 8.75rem;
        .form{
            form{
                padding: 0 2.5rem;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                .form-control{
                    &:nth-of-type(7){
                        display: grid;
                        grid-area: 3 / 2 / span 1 / span 1;
                        textarea{
                            height: 9rem;
                        }
                    }
                    &:nth-of-type(8){
                        display: grid;
                        grid-area: 4 / 1 / span 1 / span 3;
                        textarea{
                            height: 9rem;
                        }
                    }
                    &:last-of-type{
                        display: grid;
                        grid-area: 5 / 1 / span 1 / span 3; 
                        div{
                            text-align: center;
                            justify-content: center;
                            height: 6rem;
                        }                       
                    }
                }
            }
        }
    }
}
