$Manrope : 'Manrope' sans-serif;
$Inter : 'Inter', sans-serif;
$DM-sans : 'DM Sans', sans-serif;
$Montserrat : 'Montserrat', sans-serif;
$red : #F4511E;
$white : #fff;
$grey : #979797;
$grey-text:#818181;
$white-bg: #F5F5F5;
$borders: #E4E4E4;
$dark-borders:#979797;
$menu-shadow: 0px 2px 4px 0px #0000001A;
$card-shadows: 0px 34.1px 36.2px 0px #00000022;
$black : #18191f;


.list-bg{
    padding: 5rem 8.75rem;
    background-color: $white-bg;
    display: flex;
    flex-direction: column;

    .heading{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title{
            font-family: $Inter;
            font-size: 36px;
            font-weight: 800;
            text-transform: capitalize;
            color: $black;
            position: relative;
    
            &::after{
                content:"";
                position: absolute;
                height: 3px;
                width: 90px;
                background-color: $red;
                left: 0;
                right: 0;
                bottom: -5px;
                transition: 0.3s ease-in;
            }
        }

        .btn{
            padding: 22px 33px;
            background-color: $red;
            color: $white;
            text-align: center;
            font-family: $Manrope;
            font-weight: 400;
            text-transform: capitalize;
            font-size: 17px;
            border-radius: 4px;
            transition: 0.2s;

            &:hover{
                box-shadow: 0px 20px 13px 0px #F85A4709;
                cursor: pointer;
                border: 1px solid $red;
                background: transparent;
                color: $red;
            }
        }
    }
    .contents{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        padding: 2rem 0;
        
        .data-box{
            border: 1px solid $dark-borders;
            border-radius: 31px ;
            transition: 0.3s ease-out;

            .image{
                img{
                    display: block;
                    height: 100%;
                    width: 100%;
                }
            }
            .content{
                padding: 1.5rem 2rem 0 2rem;

                div{
                    font-family: $DM-sans;

                    &:nth-of-type(1){
                        font-size: 23px;
                        font-weight: 700;
                        margin-bottom: 0.75rem;
                    }

                    &:nth-of-type(2){
                        font-size: 18px;
                        font-weight: 400;
                        color: $grey-text;
                    }

                    &:nth-of-type(3){
                        font-size: 24px;
                        font-weight: 700;
                        text-transform: capitalize;
                        color: $red;
                    }
                }
            }
            .footer{
                display: flex;
                border-top: 1px solid $borders;
                margin-top: 1.5rem;

                div{
                    padding: 1rem 2rem;
                    background: transparent;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    gap: .5rem;
                    font-size: 18px;
                    font-weight: 700;

                    &:not(:last-of-type){
                        border-right: 1px solid $borders;
                    }
                }
            }

            &:hover{
                border: none;
                box-shadow: $card-shadows;
            }
        }
    }
    .menu{
        display: flex;
        width: max-content;
        justify-self: center;
        align-self: center;
        justify-content: center;
        align-items: center;
        font-family: $Montserrat;
        text-transform: capitalize;
        box-shadow: $menu-shadow;
        margin-top: 3rem;
        
        div{
            font-size: 1rem;
            font-weight: 700;

            &:first-of-type{
                color: #BDBDBD;
                padding: 1.5rem;
                border: 1px solid #BDBDBD;
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
                background: #f3f3f3de;
            }
            &:last-of-type{
                color: $red;
                padding: 1.5rem;
                border: 1px solid #BDBDBD;
                border-left: none;
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
                background: #f3f3f3de;

            }
            &:nth-of-type(2),
            &:nth-of-type(4){
                padding: 1.5rem 1rem;
                color: $red;
                border-top: 1px solid #BDBDBD;
                border-right: 1px solid #BDBDBD;
                border-bottom: 1px solid #BDBDBD;
            }
            &:nth-of-type(3){
                padding: 1.5rem 1rem;
                color: $white;
                background-color: $red;
                border-top: 1px solid #BDBDBD;
                border-bottom: 1px solid #BDBDBD;
            }
        }
    }
}

@media screen and (max-width:1200px){

    .list-bg{
        padding: 2rem;
        
        .contents{
            grid-template-columns: repeat(2, 1fr);

            .data-box{
                border-radius: 38px ;
            }
        }
    }


}

@media screen and (max-width:1000px){

    .list-bg{  
        .heading{
            flex-direction: column;
            gap: 2rem;
        }
        .contents{
            display: flex;
            flex-direction: column;
            gap: 2.5rem;
            .data-box{
                display: flex;
                flex-direction: column;
                border-radius: 56px;
                image{
                    img{
                        display: block;
                        height: 100%;
                        width: 100%;
                    }
                    
                }
            }
        }
    }
}

@media screen and (max-width:700px){
    .list-bg{
        .contents{
            .data-box{
                border-radius: 30px ;
            }
        }
    }
}