$Inter : 'Inter', sans-serif;
$red : #F4511E;
$black : #18191f;
$shadows: 0px 12px 19px 0px #00000026;
$radius : 10px;




.why-us-bg{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-family: $Inter;
    padding: 2rem 8.75rem;

    .title{
        font-size: 36px;
        font-weight: 800;
        color: $black;
        position: relative;
        text-transform: capitalize;

        &::after{
            content:"";
            position: absolute;
            height: 3px;
            width: 385px;
            background-color: $red;
            left: 0;
            right: 0;
            bottom: -7px;
            transition: 0.3s ease-in;
        }
    }
    .content{
        display: flex;
        
        .image-content{
            transform: translateX(-50px) !important; 
        }
        .text-content{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            row-gap: 1rem;
            padding: 6rem 0 4rem 0;
            
            .data-box{
                display: flex;
                flex-direction: column;
                font-size: 26px;
                font-weight: 600;
                color: $black;

                .data-sign{
                    img{
                        padding: 1rem;
                        background-color: #fff;
                        box-shadow: $shadows;
                        border-radius: $radius;
                        margin-bottom: 1rem;
                    }
                }
            }
        }

    }
}

@media screen and (max-width: 1200px) {
    .why-us-bg{
        display: flex;
        padding: 2rem;
        margin-right: 0;
        .title{
            &::after{
                width: 320px;
            }
        }
        .content{
            
            .image-content{
                transform: unset;
                width: 50%;
                margin-right: 0;
                img{
                    display: block;
                    height: 100%;
                    width: 100%;
                }
            }
            .text-content{
                grid-template-columns: repeat(2, 1fr);
                gap: 1rem;
                width: 50%;
                padding: 0;
                .data-box{
                    font-size: 1rem;
                    .data-sign{
                        padding: .5rem;
                    }
                    .text{
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:800px){
    .why-us-bg{
        .content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            .image-content{
                
                width: 100%;
                margin-left: 6rem;
                img{
                    padding: 0;
                }
            }
            .text-content{
                display: grid;
                flex-direction: column;
                grid-template-columns: repeat(2,1fr);
                width: 100%;  

                .data-box{
                    text-align: center;
                    align-items: center;
                }
            }
        }
    }
}